:root {
    /*#region Couleurs*/
    --col-lightBlue: #b5d9f8; /*Inutilisé*/
    --col-ocean: #5f9cd3; /*Inutilisé*/
    --col-oceanFog: rgba(95, 156, 211, 0.3); /*Inutilisé*/
    --col-sky: #6bb1f3; /*Inutilisé*/
    --col-darkBlue: #438edd; /*Inutilisé*/
    --col-nebula: #b097ff;
    --col-slime: #a7f8d8;
    --col-lime: #9effd7;
    --col-grass: #39c995;
    --col-forest: #2dba86;
    --col-forestFog: rgba(57, 201, 147, 0.3);
    --col-skin: #ffbda3;
    --col-lightRed: #ff6d6d;
    --col-gray: #d3d3d3;
    /*#endregion Couleurs*/

    /*#region Navigation*/
    --nav-width: 200px;
    --nav-height: 25px;
    --nav-padding: 10px;
    --nav-margin: auto 10px;
    --nav-borderTopCurrentPageWidth: 4px;
    --nav-headerBackgroundColor: var(--col-lime);
    --nav-borderTopCurrentPageColor: var(--col-grass);
    --nav-buttonHoverColor: var(--col-grass);
    --nav-dropdownListBackgroundColor: var(--col-gray);
    --nav-dropdownListFontSize: 125%;
    --nav-titleFontSize: 28px;
    --nav-administrationButtonBackgroundColor: var(--col-lightRed);
    /*#endregion Navigation*/

    /*#region Magasin*/
    --store-categoryBackgroundColor: var(--col-grass);
    --store-categoryTotalBackgroundColor: var(--col-gray);
    --store-frameCaseBorderColor: var(--col-grass);

    --store-itemPreviewContainerHoverColor: var(--col-forestFog);
    --store-itemIconContainerHoverColor: var(--col-forestFog);

    --store-addItemStoreContainerBackgroundColor: var(--col-lime);
    --store-addItemStoreContainerBorderColor: var(--col-lime);

    --store-shoppingCartTotalContainerBackgroundColor: var(--col-gray);
    --store-shoppingCartTotalContainerBorderColor: black;
    --store-shoppingCartTotalContainerTotalLineBorderColor: black;

    --store-payButtonBackgroundColor: var(--col-lime);
    --store-payButtonBorderColor: var(--col-lime);

    --store-addButtonBackgroundColor: var(--col-lime);
    --store-addButtonBorderColor: var(--col-lime);
    --store-modifyButtonBackgroundColor: var(--col-skin);
    --store-modifyButtonBorderColor: var(--col-skin);
    --store-deleteButtonBackgroundColor: var(--col-lightRed);
    --store-deleteButtonBorderColor: var(--col-lightRed);
    --store-saveButtonBackgroundColor: var(--col-skin);
    --store-saveButtonBorderColor: var(--col-skin);
    --store-activeButtonBackgroundColor: var(--col-gray);
    --store-activeButtonBorderColor: var(--col-gray);
    /*#endregion Magasin*/

    /*#region Filtre*/
    --store-filterContainerBackgroundColor: var(--col-lime);
    --store-filterContainerBorderColor: var(--col-lime);
    --store-filtersBackgroundColor: var(--col-lime);
    /*#endregion Filtre*/

    /*#region Popup*/
    --popup-itemDetailsContainerBackgroundColor: whitesmoke;
    --popup-itemDetailsContainerBorderColor: var(--col-grass);

    --popup-itemDetailsContainerExitButtonHoverBackgroundColor: var(--col-lightRed);
    --popup-itemDetailsContainerExitButtonHoverBorderColor: var(--col-lightRed);
    --popup-itemDetailsContainerExitButtonHoverTextColor: whitesmoke;

    --popup-itemDetailsContainerHeaderBackgroundColor: var(--col-grass);
    --popup-itemDetailsImageContainerBackgroundColor: whitesmoke;
    --popup-itemDetailsImageContainerBorderColor: var(--col-grass);
    --popup-itemDetailsBodyContainerInfosBorderColor: var(--col-grass);
    --popup-itemDetailsFooterBackgroundColor: var(--col-grass);
    --popup-itemDetailsContainerEvaluationButtonBackgroundColor: var(--col-lime);
    --popup-itemDetailsContainerEvaluationButtonBorderColor: var(--col-lime);

    --popup-itemDeleteConfirmationContainerBackgroundColor: whitesmoke;
    --popup-cancelButtonBackgroundColor: var(--col-lightRed);
    --popup-cancelButtonBorderColor: var(--col-lightRed);
    --popup-confirmButtonBackgroundColor: var(--col-lime);
    --popup-confirmButtonBorderColor: var(--col-lime);

    --popup-overlayBackgroundColor: rgba(0, 0, 0, 0.35);
    /*#endregion Popup*/

    /*#region Évaluations*/
    --evaluations-evaluationPreviewContainerHoverColor: var(--col-forestFog);
    --evaluations-evaluationPreviewContainerBorderColor: var(--col-grass);
    --evaluations-evaluationItemContainerBackgroundColor: var(--col-grass);
    --evaluations-evaluationItemContainerBorderColor: var(--col-grass);
    --evaluations-evaluationItemImageContainerBackgroundColor: var(--col-lime);
    --evaluations-itemStarbarContainerBackgroundColor: var(--col-grass);
    --evaluations-playerEvaluationContainerBorderColor: var(--col-grass);
    --evaluations-playerEvaluationContainerTextareaBackgroundColor: var(--col-forestFog);
    --evaluations-evaluationsListButtonBackgroundColor: var(--col-lime);
    --evaluations-evaluationsListButtonBorderColor: var(--col-lime);
    /*#endregion Évaluations*/

    /*#region Profil*/
    --profile-bagButtonBackgroundColor: var(--col-nebula);
    --profile-bagButtonBorderColor: var(--col-nebula);
    /*#endregion Profil*/

    /*#region Form et Fieldset*/
    --fieldset-inputSubmitBackgroundColor: var(--col-lime);
    --fieldset-inputSubmitBorderColor: var(--col-lime);
    --fieldset-addItemPreviewContainerBackgroundColor: var(--col-forestFog);
    /*#endregion Form et Fieldset*/
}

body {
    margin: 0;
}

main.login,
main.register,
main.profile,
main.modify-profile,
main.delete-profile,
main.add-item,
main.modify-item,
main.delete-item {
    width: 400px;
    margin: 40px auto;
    text-align: center;
}

main.index,
main.store,
main.inventory,
main.evaluations,
main.shopping-cart,
main.administration {
    width: 98%;
    margin: 40px auto;
    text-align: center;
}

/*#region Navigation*/
header {
    position: relative;
}

header::before, nav.mark::before {
    z-index: 1;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: calc(var(--nav-borderTopCurrentPageWidth) / 2) solid var(--nav-borderTopCurrentPageColor);
}

nav.mark::before {
    border-bottom: var(--nav-borderTopCurrentPageWidth) solid var(--nav-borderTopCurrentPageColor);
}

nav:hover.mark::before {
    border-color: transparent;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--nav-headerBackgroundColor);
    user-select: none;
}

nav > nav.title {
    background-color: transparent;
    position: absolute;
    left: 0;
    color: var(--nav-borderTopCurrentPageColor);
    font-weight: bold;
    font-size: var(--nav-titleFontSize);
    margin: 0;
}

nav.title:hover {
    background-color: transparent;
}

nav > nav#administration {
    /*background-color: var(--nav-administrationButtonBackgroundColor);*/
}

@media screen and (max-width: 1600px) {
    nav.title {
        display: none;
    }
}

nav > nav {
    width: var(--nav-width);
    height: var(--nav-height);
    margin: var(--nav-margin);
    align-items: center;
    position: relative;
    padding: var(--nav-padding);
    cursor: pointer;
}

nav > p {
    position: absolute;
    width: 100%;
    height: calc(var(--nav-height) + var(--nav-padding) * 2);
    margin: 0;
}

nav > img {
    position: absolute;
    left: -5px;
    height: 90%;
}

nav > nav.iconOnly {
    width: auto;
    background-color: transparent;
}

nav.iconOnly > img {
    position: relative;
    left: 0;
    height: 100%;
}

nav ul {
    position: absolute;
    width: 100%;
    overflow: auto;
    margin-top: calc(var(--nav-height) + var(--nav-padding) * 2);
    top: 0;
    padding: 0;
    display: none;
    font-size: var(--nav-dropdownListFontSize);
    background-color: var(--nav-dropdownListBackgroundColor);
}

nav > nav:hover > ul {
    display: block;
    cursor: pointer;
}

nav > nav:hover > ul.hidden {
    display: none;
}

nav > nav:hover, nav ul > li:hover {
    background-color: var(--nav-buttonHoverColor);
    z-index: 1;
}

/*#endregion Navigation*/

/*#region Filtre*/
div.filterWrapper {
    display: flex;
    justify-content: start;
}

div.filterContainer, div.resetFilterContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    padding: 5px;
    user-select: none;
    background-color: var(--store-filterContainerBackgroundColor);

    border-width: 2px;
    border-style: outset;
    border-color: var(--store-filterContainerBorderColor);
}

div.filterContainer > img,
div.resetFilterContainer > img {
    height: 25px;
    transform: rotate(0);
}

div.filterContainer.opened > img {
    transform: rotate(180deg);
}

div.filterContainer:hover,
div.resetFilterContainer:hover {
    cursor: pointer;
}

div.filterContainer:active,
div.filterContainer.opened,
div.resetFilterContainer:active {
    border-style: inset;
    background-color: var(--store-activeButtonBackgroundColor);
    border-color: var(--store-activeButtonBackgroundColor);
}

div.resetFilterContainer {
    width: 25px;
    margin-left: 5px;
}

div.filters {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: var(--store-filtersBackgroundColor);
    width: min-content;
}

div.filters > div {
    position: relative;
    display: grid;
    grid-template-columns: auto 20px;
    width: 154px;
    padding: 5px;
    text-align: left;
    align-items: baseline;
}

div.filters > div > .category {
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    border-bottom: 1px solid var(--col-forest);
    padding: 3px 3px 3px 0;

}

div.filters.hidden {
    display: none;
}

div.filters label {
    padding: 5px 0;
}

/*#endregion Filtre*/

/*#region Magasin*/

div.storeContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-content: center;
}

main.inventory div.storeContainer {
    grid-template-columns: auto auto;
}

/*main.shopping-cart div.storeContainer {

}*/

main.shopping-cart div.shoppingCartTransactionContainer {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    background-color: var(--store-shoppingCartTotalContainerBackgroundColor);
    border: 1px dashed var(--store-shoppingCartTotalContainerBorderColor);
    padding: 10px;
}

main.shopping-cart div.shoppingCartTotalContainer {
    display: grid;
    grid-template-columns: auto 200px;
    text-align: right;
}

div.shoppingCartTotalContainer div.totalLigne {
    border: 1px dashed var(--store-shoppingCartTotalContainerTotalLineBorderColor);
}

div.storeContainer > div.category {
    background-color: var(--store-categoryBackgroundColor);
    font-weight: bold;
}

div.storeContainer > div {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    /*border-right: 2px solid var(--store-frameCaseBorderColor);*/
    text-align: center;
    padding: 8px;
}

/*À ajuster selon le nombre de colonnes du tableau*/
div.storeContainer > div:nth-child(n + 9), /*Propre au magasin*/
main.inventory div.storeContainer > div:nth-child(n + 5), /*Propre à l'inventaire*/
main.shopping-cart div.storeContainer > div:nth-child(n + 9) /*Propre au panier d'achat*/
{
    border-top: 1px solid var(--store-frameCaseBorderColor);
}

div.storeContainer > div.rightLastColumn {
    border-right: 0;
}

.storeContainer button {
    user-select: none;
}

button.removeItem, button.addItem {
    display: block;
}

button.removeItem.hidden, button.addItem.hidden {
    display: none;
}

div.storeContainer input.itemQuantity {
    max-width: 40px;
    text-align: right;
}

div.itemPreviewContainer {
    position: relative;
    user-select: none;
    height: auto;
}

div.itemPreviewContainer:hover {
    background-color: var(--store-itemPreviewContainerHoverColor);
    cursor: pointer;
}

div.itemPreviewContainer div.itemIconContainer {
    background-color: var(--store-itemIconContainerHoverColor);
    height: 150px;
    width: 150px;
}

div.itemPreviewContainer div.itemIconContainer img {
    width: 100%;
    height: 100%;
}

div.itemPreviewContainer:hover div.itemIconContainer {
    background-color: whitesmoke;
}

div.itemPreviewContainer div.titleContainer {
    padding-top: 8px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: initial;
    overflow: hidden;
}

div.shoppingCartActionsContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

div.shoppingCartQuantityContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button.addToShoppingCart {
    width: 75px;
    height: 25px;
    outline: none;
    background-color: var(--store-addButtonBackgroundColor);
    border-color: var(--store-addButtonBorderColor);
}

div.mediumButton.payButton {
    margin: 10px auto 5px 5px;
    width: 182px
}

button.shoppingCartButton,
button.bagButton,
button.modifyButton,
button.quantityButton,
button.deleteButton,
button.balanceButton,
button.saveButton {
    width: 30px;
    height: 25px;
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

button.shoppingCartButton,
button.bagButton {
    background-color: var(--profile-bagButtonBackgroundColor);
    border-color: var(--profile-bagButtonBorderColor);
}

button.modifyButton, 
button.balanceButton {
    background-color: var(--store-modifyButtonBackgroundColor);
    border-color: var(--store-modifyButtonBorderColor);
}

button.quantityButton {
    background-color: var(--store-modifyButtonBackgroundColor);
    border-color: var(--store-modifyButtonBorderColor);
}

button.deleteButton {
    background-color: var(--store-deleteButtonBackgroundColor);
    border-color: var(--store-deleteButtonBorderColor);
}

button.saveButton {
    background-color: var(--store-saveButtonBackgroundColor);
    border-color: var(--store-saveButtonBorderColor);
}

button.shoppingCartButton > img,
button.bagButton > img,
button.modifyButton > img,
button.quantityButton > img,
button.balanceButton > img,
button.deleteButton > img,
button.saveButton > img {
    height: 100%;
}

button.addToShoppingCart:hover,
button.shoppingCartButton:hover,
button.bagButton:hover,
button.modifyButton:hover,
button.balanceButton:hover,
button.quantityButton:hover,
button.deleteButton:hover,
button.saveButton:hover {
    cursor: pointer;
}

button.addToShoppingCart:active,
button.shoppingCartButton:active,
button.bagButton:active,
button.balanceButton:active,
button.modifyButton:active,
button.modifyButton.clicked,
button.quantityButton:active,
button.deleteButton:active,
button.saveButton:active {
    background-color: var(--store-activeButtonBackgroundColor);
    border-color: var(--store-activeButtonBorderColor);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*#region Admin stuff*/
div.adminButtonsContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    left: 0;
    top: 0;
    padding: 2px;
}

div.bigButton, div.mediumButton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    border-width: 2px;
    border-style: outset;
    border-color: var(--store-addItemStoreContainerBorderColor);
    padding: 5px;
    user-select: none;
    background-color: var(--store-addItemStoreContainerBackgroundColor);
    height: 25px;
    margin-bottom: 20px;
}

div.mediumButton {
    width: 100px;
    height: 20px;
}

div.bigButton > img {
    height: 25px;
    transform: rotate(0);
}

div.bigButton:hover, div.mediumButton:hover {
    cursor: pointer;
}

div.bigButton:active, div.mediumButton:active {
    border-style: inset;
    background-color: var(--store-activeButtonBackgroundColor);
    border-color: var(--store-activeButtonBorderColor);
}

/*#endregion Admin stuff*/

/*#endregion Magasin*/

/*#region Popup*/
div.popupContainer {
    display: none;
    position: relative;
}

div.popupContainer.active {
    display: block;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--popup-itemDetailsContainerBorderColor);
    background-color: var(--popup-itemDetailsContainerBackgroundColor);
    z-index: 10;
}

div.popupContainer.popupConfirmationContainer.active {
    width: 400px;
    height: auto;
    text-align: center;
    background-color: var(--popup-itemDeleteConfirmationContainerBackgroundColor);
}

div.popupContainer.notificationContainer.active {
    width: 400px;
    height: auto;
    text-align: center;
    background-color: var(--popup-itemDeleteConfirmationContainerBackgroundColor);
}

div.confirmationButtonsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

div.confirmationButtonsContainer button.cancelButton {
    background-color: var(--popup-cancelButtonBackgroundColor);
    border-color: var(--popup-cancelButtonBorderColor);
    outline: none;
}

div.confirmationButtonsContainer button.confirmButton {
    background-color: var(--popup-confirmButtonBackgroundColor);
    border-color: var(--popup-confirmButtonBorderColor);
    outline: none;
}

div.confirmationButtonsContainer button.cancelButton:active,
div.confirmationButtonsContainer button.confirmButton:active,
button.popupExitButton:active {
    background-color: var(--store-activeButtonBackgroundColor);
    border-color: var(--store-activeButtonBorderColor);
}

div.confirmationButtonsContainer button.cancelButton:hover,
div.confirmationButtonsContainer button.confirmButton:hover {
    cursor: pointer;
}

div.popupHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--popup-itemDetailsContainerHeaderBackgroundColor);
    font-weight: bold;
    padding: 2px 2px 3px 5px;
}

button.popupExitButton {
    font-size: medium;
    outline: none;
    border-color: transparent;
}

button.popupExitButton:focus,
button.popupExitButton:active {
    outline: none;
}

button.popupExitButton:hover {
    cursor: pointer;
    color: var(--popup-itemDetailsContainerExitButtonHoverTextColor);
    background-color: var(--popup-itemDetailsContainerExitButtonHoverBackgroundColor);
    border-color: var(--popup-itemDetailsContainerExitButtonHoverBorderColor);
}

div.popupBodyContainer {
    position: relative;
    margin: 10px;
}

div.popupFooterContainer {

}

div.itemDetailsImageContainer {
    text-align: center;
    height: 300px;
    background-color: var(--popup-itemDetailsImageContainerBackgroundColor);
    border-bottom: 1px solid var(--popup-itemDetailsImageContainerBorderColor);
}

div.itemDetailsImageContainer > img {
    height: 100%;
}

div.itemDetailsBodyContainer {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 224px;
    overflow-y: scroll;
}

div.itemDetailsBodyContainer::-webkit-scrollbar {
    display: none;
}

div.itemDetailsBodyContainer > span {
    border-bottom: 1px solid var(--popup-itemDetailsBodyContainerInfosBorderColor);
    padding: 5px;
}

div.itemDetailsBodyContainer > span:nth-of-type(2n + 1) {
    border-right: 1px solid var(--popup-itemDetailsBodyContainerInfosBorderColor);
    font-weight: bold;
}

div.itemDetailsFooter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: var(--popup-itemDetailsFooterBackgroundColor);
    padding: 5px 0;
}

div.mediumButton.itemDetailsContainerEvaluationButton {
    width: 150px;
    margin: 0 auto;
}

div#overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--popup-overlayBackgroundColor);
    pointer-events: none;
}

div#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}

/*#endregion Popup*/

/*#region Évaluations*/
div.evaluationsContainer { /*Le conteneur des previews (frame) de toutes les évaluations*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 10px;
}

div.evaluationContainer { /*Le conteneur des évaluations individuel*/
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 10px;
}

div.itemEvaluationPreviewContainer { /*Les frames de toutes les évaluations*/
    width: 190px;
    user-select: none;
    margin: 0 auto;
    /*border: 1px solid var(--col-slime);*/
    background-color: var(--evaluations-itemStarbarContainerBackgroundColor);
}

div.itemEvaluationPreviewImageBackgroundContainer {
    background-color: whitesmoke;
    border: 1px solid var(--col-grass);
    border-bottom: 0;
}

div.itemEvaluationPreviewImageContainer {
    padding: 15px 10px 10px 10px;
    text-align: center;
}

div.itemEvaluationPreviewImageContainer:hover {
    background-color: var(--evaluations-evaluationPreviewContainerHoverColor);
    cursor: pointer;
}

div.itemEvaluationPreviewImageContainer div.itemIconContainer,
div.evaluationItemImageContainer div.itemIconContainer {
    background-color: var(--store-itemIconContainerHoverColor);
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

div.itemEvaluationPreviewImageContainer:hover > div.itemIconContainer {
    background-color: whitesmoke;
}

div.itemEvaluationPreviewImageContainer div.itemIconContainer img,
div.evaluationItemImageContainer div.itemIconContainer img {
    width: 100%;
    height: 100%;
}

div.itemEvaluationPreviewImageContainer div.titleContainer {
    margin-top: 10px;
}

div.itemStarbarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

div.itemStarbar img {
    padding: 2px;
    height: 22px;
}

div.evaluationItemContainer { /*La colonne de gauche dans les évaluations individuel*/
    min-height: 65vh;
    grid-row-start: span 9000;
    background-image: linear-gradient(var(--col-forestFog) 90%, transparent);
    padding: 0;
    margin: 0;
}

div.evaluationItemContainer > div.itemEvaluationPreviewContainer {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    /*border: 1px solid var(--evaluations-evaluationItemContainerBorderColor);*/
}
div.evaluationItemContainer:hover {
    cursor: help;
}

div.evaluationItemContainer:hover div.itemEvaluationPreviewContainer {
    display: none;
}

div.allItemStarbarContainer {
    display: none;
}

div.evaluationItemContainer:hover div.allItemStarbarContainer {
    display: block;
}

div.evaluationItemContainer > div.itemStarbarContainer {
    padding: 5px 0;
    width: 150px;
}

div.playerEvaluationContainer {
    position: relative;
    grid-column-start: 2;
    min-height: 100px;
    text-align: left;
    padding: 5px 5px 0 5px;
    border: 1px solid var(--evaluations-playerEvaluationContainerBorderColor);
}

div.playerEvaluationContainer .itemStarbarContainer {
    justify-content: flex-start;
    padding: 0;
    margin-left: -3px;
}

div.playerEvaluationContainer ~ div.playerEvaluationContainer {
    border-top: 0;
}

div.playerEvaluationContainer > div:nth-of-type(3) { /*Le nom du joueur au bas du commentaire*/
    position: absolute;
    bottom: 5px;
}

div.playerEvaluationContainer:last-child {
    padding: 0;
    margin: 0;
    border: 0;
}

div.playerEvaluationContainer ~ div.playerEvaluationContainer:last-child {
    margin-top: 10px;
    padding: 0;
}

div.playerEvaluationContainer form {
    height: 100%;
    padding: 0;
    margin: 0;
    /*background-color: whitesmoke;*/
}

div.playerEvaluationContainer fieldset {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

div.playerEvaluationContainer textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    resize: none;
    border: 1px solid var(--evaluations-playerEvaluationContainerBorderColor);
}

div.playerEvaluationContainer textarea:focus {
    outline: none;
    background-color: var(--evaluations-playerEvaluationContainerTextareaBackgroundColor);
}

div.mediumButton.evaluationSendButton {
    margin: 10px 0 0 0;
}

button.evaluationsListButton {
    background-color: var(--evaluations-evaluationsListButtonBackgroundColor);
    border-color: var(--evaluations-evaluationsListButtonBorderColor);
    outline: none;
    height: 25px;
}

button.evaluationsListButton:active {
    background-color: var(--store-activeButtonBackgroundColor);
    border-color: var(--store-activeButtonBorderColor);
}

button.evaluationsListButton:hover {
    cursor: pointer;
}

div.rating {
    display: flex;
    padding: 2px 5px;
    background-color: var(--col-grass);
}

div.rating label {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background-image: url("../Icons/StarIconEmpty.png");
    background-size: contain;
    margin: 5px 0;
    border-right: 5px solid var(--evaluations-evaluationItemContainerBackgroundColor);
}

div.rating label.clicked {
    background-image: url("../Icons/StarIcon.png");
}

/*#endregion Évaluations*/

/*#region Profil*/
div.managerContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

div.managerContainer > div.category {
    background-color: var(--store-categoryBackgroundColor);
    font-weight: bold;
}

div.managerContainer > div {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    /*border-right: 2px solid var(--store-frameCaseBorderColor);*/
    border-top: 1px solid var(--store-frameCaseBorderColor);
    text-align: center;
    padding: 5px;
}

/*div.managerContainer > div:nth-child(5n + 1) {*/
/*    border-left: 2px solid var(--store-frameCaseBorderColor);*/
/*}*/

/*div.managerContainer > div:nth-child(n + 7) {*/
/*    border-top: 1px solid var(--store-frameCaseBorderColor);*/
/*}*/

div.managerContainer > div.adminActionsContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
}

/*#endregion Profil*/

/*#region Form et Fieldset*/
fieldset, .addItemInfosContainer {
    position: relative;
    border: 0;
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 5px;
    margin: 0;
    text-align: left;
}

fieldset > div.addItemInfosContainer {
    grid-column: span 2;
}

fieldset label, fieldset input, fieldset select, fieldset textarea {
    grid-column: 2 span;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=submit] {
    background-color: var(--fieldset-inputSubmitBackgroundColor);
    border-color: var(--fieldset-inputSubmitBorderColor);
    outline: none;
    grid-column-start: 2;
    height: 25px;
    width: 100px;
}

input[type=submit]:active {
    background-color: var(--store-activeButtonBackgroundColor);
    border-color: var(--store-activeButtonBorderColor);
}

fieldset > div.addItemPreviewContainer {
    position: relative;
    height: 200px;
    text-align: center;
    background-color: var(--fieldset-addItemPreviewContainerBackgroundColor);
    grid-column: 2 span;
}

fieldset > div.addItemPreviewContainer > img {
    height: 100%;
}

form input.itemQuantity {
    max-width: 40px;
    text-align: right;
}

/*#endregion Form et Fieldset*/

/*region Autres*/
.hidden {
    display: none;
}

.fadeIn {
    animation: fadeIn ease 0.75s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*endregion Autres*/

.errorField {
    border: 1px solid red;
}

#loginError {
    position: absolute;
    width: 400px;
    text-align: center;
}