:root
{
    /*#region Toutes les pages*/
    --col-lightBlue: #b5d9f8;
    --col-ocean: #5f9cd3;
    --col-oceanFog: rgba(95, 156, 211, 0.3);
    --col-sky: #6bb1f3;
    --col-darkBlue: #438edd;
    --col-lightGreen: #9df39d;
    --col-skin: #ffbda3;
    --col-sun: #ffb340;
    --col-lightRed: #ff6d6d;
    --col-gray: #d3d3d3;
    /*#endregion Toutes les pages*/

    /*#region Menu de navigation*/
    --nav-width: 200px;
    --nav-height: 25px;
    --nav-padding: 10px;
    --nav-borderTopCurrentPagePixel: 4px;
    --nav-headerBackgroundColor: var(--col-lightBlue);
    --nav-borderTopCurrentPageColor: var(--col-darkBlue);
    --nav-buttonHoverColor: var(--col-ocean);
    /*#endregion Menu de navigation*/

    /*#region Magasin*/
    --store-categoryTitle: var(--col-sky);
    --store-categoryTotalBackgroundColor: var(--col-gray);
    --store-itemPreviewContainerHoverColor: var(--col-oceanFog);
    --store-addItemPreviewContainerBackgroundColor: var(--col-oceanFog);
    --store-itemDetailsContainerBackgroundColor : var(--col-lightBlue);
    --store-itemDetailsContainerExitButtonBackgroundColor: red;
    --store-itemDetailsContainerHeaderBackgroundColor: var(--col-darkBlue);
    --store-itemDetailsImageContainerBackgroundColor: whitesmoke;
    --store-addToShoppingCartButtonColor: var(--col-lightGreen);
    --store-modifyItemQuantityButtonColor: var(--col-skin);
    --store-deleteFromShoppingCartButtonColor: var(--col-lightRed);
    --store-ActiveButtonColor: var(--col-gray);
    /*#endregion Magasin*/

    /*#region Popup*/
    --popup-itemDetailsContainerWidth: 500px;
    --popup-itemDetailsContainerHeight: 600px;
    --popup-itemDetailsImageContainerHeight: 300px;
    --popup-itemDetailsHeaderHeight: 30px;
    --popup-itemDetailsBodyHeight: 224px;
    --popup-itemDetailsFooterHeight: 30px;
    /*#endregion Popup*/

    /*#region Évaluations*/
    --evaluations-evaluationPreviewContainerHoverColor: var(--col-oceanFog);
    --evaluations-evaluationItemImageContainerBackgroundColor: var(--col-lightBlue);
    /*#endregion Évaluations*/

    /*#region Profil*/
    --profile-adminInventoryButtonColor: var(--col-lightBlue);
    /*#endregion Profil*/
}

body
{
    margin: 0;
}

main.login,
main.register,
main.profile,
main.modify-profile,
main.delete-profile,
main.add-item,
main.modify-item,
main.delete-item
{
    width: 400px;
    margin: 40px auto;
    text-align: center;
}

main.list
{
    width: 600px;
    margin: 40px auto;
    text-align: center;
}

main.index,
main.store,
main.inventory,
main.evaluations,
main.shopping-cart
{
    width: 98%;
    margin: 40px auto;
    text-align: center;
}

/*#region Menu de navigation*/
header
{
    position: relative;
}

header::before, nav.mark::before
{
    z-index: 1;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: calc(var(--nav-borderTopCurrentPagePixel) / 2) solid var(--nav-borderTopCurrentPageColor);
}

nav.mark::before
{
    border-bottom: var(--nav-borderTopCurrentPagePixel) solid var(--nav-borderTopCurrentPageColor);
}

nav:hover.mark::before
{
    border-color: transparent;
}

nav
{
    display: flex;
    justify-content: center;
    background-color: var(--nav-headerBackgroundColor);
    user-select: none;
}

nav > nav.chevaleresk
{
    background-color: transparent;
    position: absolute;
    left: 0;
    color: var(--nav-borderTopCurrentPageColor);
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

nav.chevaleresk:hover
{
    background-color: transparent;
}

@media screen and (max-width:1100px)
{
    nav.chevaleresk
    {
        display: none;
    }
}

nav > nav
{
    width: var(--nav-width);
    height: var(--nav-height);
    margin: auto 10px;
    align-items: center;
    position: relative;
    padding: var(--nav-padding);
    cursor: pointer;
}

nav > nav.IconOnly
{
    width: auto;
    background-color: transparent;
}

nav > p
{
    position: absolute;
    width: 100%;
    height: calc(var(--nav-height) + var(--nav-padding) * 2);
    margin: 0;
}

nav > img
{
    position: absolute;
    left: -5px;
    height: 90%;
}

nav.IconOnly > img
{
    position: relative;
    left: 0;
    height: 100%;
}

nav ul
{
    position: absolute;
    width: 100%;
    overflow: auto;
    margin-top: calc(var(--nav-height) + var(--nav-padding) * 2);
    top: 0;
    padding: 0;
    display: none;
    font-size: 125%;
    background-color: #cbd0d1;
}

nav > nav:hover > ul
{
    display: block;
    cursor: pointer;
}

nav > nav:hover > ul.hidden
{
    display: none;
}

nav > nav:hover, nav ul > li:hover
{
    background-color: var(--nav-buttonHoverColor);
    z-index: 1;
}

nav input[type=checkbox]
{
    width: 20px;
    height: 20px;
}
/*#endregion Menu de navigation*/

/*#region Filtre*/
.filterContainer
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    padding: 5px;
    user-select: none;
    background-color: var(--col-lightBlue);

    border-width: 2px;
    border-style: outset;
    border-color: var(--col-lightBlue);
}

.filterContainer.opened
{
    background-color: var(--store-ActiveButtonColor);
    border-color: var(--store-ActiveButtonColor);
}

.filterContainer > img
{
    height: 25px;
    transform: rotate(0);
}

.filterContainer.opened > img
{
    transform: rotate(180deg);
}

.filterContainer:hover
{
    cursor: pointer;
}

.filterContainer:active
{
    border-style: inset;
    background-color: var(--store-ActiveButtonColor);
    border-color: var(--store-ActiveButtonColor);
}

.filters
{
    position: relative;
    display: grid;
    grid-template-columns: auto 20px;
    width: 154px;
    padding: 5px;
    text-align: left;
    align-items: baseline;
    background-color: var(--nav-headerBackgroundColor);
}

.filters.hidden
{
    display: none;
}

.filters label
{
    padding: 5px 0;
}
/*#endregion Filtre*/

/*#region Magasin*/
div.storeContainer
{
    display: grid;
    grid-template-columns: auto 250px 250px 400px;
    align-content: center;
    grid-column-gap: 5px;
}

/*Présentation du tableau dans l'inventaire*/
main.inventory div.storeContainer
{
    display: grid;
    grid-template-columns: auto auto;
}

/*Présentation du tableau dans le panier d'achat*/
main.shopping-cart div.storeContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main.shopping-cart div.shoppingCartTotalContainer
{
    display: grid;
    grid-template-columns: auto 200px;
    text-align: right;
    background-color: var(--col-gray);
    border: 1px dashed black;
    padding: 10px;
}

div.shoppingCartTotalContainer .totalLigne
{
    border: 1px dashed black;
}

div.storeContainer > div.category
{
    background-color: var(--store-categoryTitle);
    font-weight: bold;
}

div.storeContainer > div
{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--nav-borderTopCurrentPageColor);
    text-align: center;
    padding: 5px;
}

/*À ajuster selon le nombre de colonnes du tableau*/
div.storeContainer > div:nth-child(n + 9), /*Propre au magasin*/
main.inventory div.storeContainer > div:nth-child(n + 5), /*Propre à l'inventaire*/
main.shopping-cart div.storeContainer > div:nth-child(n + 7) /*Propre au panier d'achat*/
{
    border-top: 1px solid var(--nav-borderTopCurrentPageColor);
}

div.storeContainer > div.rightLastColumn
{
    border-right: 0;
}

.storeContainer button
{
    user-select: none;
}

button.pay
{
    width: 100px;
    height: 30px;
    background-color: var(--col-lightGreen);
    border-color: var(--col-lightGreen);
    outline: none;
}

button.pay:active
{
    background-color: var(--store-ActiveButtonColor);
    border-color: var(--store-ActiveButtonColor);
}

button.removeItem, button.addItem
{
    display: block;
    margin: 0 10px;
}

button.removeItem.hidden, button.addItem.hidden
{
    display: none;
}

div.storeContainer input.itemQuantity
{
    max-width: 40px;
    text-align: right;
}

div.itemPreviewContainer
{
    position: relative;
    user-select: none;
}

div.itemPreviewContainer:hover
{
    background-color: var(--store-itemPreviewContainerHoverColor);
    cursor: pointer;
}

div.shoppingCartActionsContainer
{
    position: relative;
    display: grid;
    grid-template-columns: auto 75px;
    justify-content: start;
    height: 28px;
}

div.shoppingCartQuantityContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

button.addToShoppingCart
{
    width: 75px;
    height: 25px;
    margin-left: 10px;
    outline: none;
}

button.inventoryButton,
button.modifyButton,
button.deleteButton
{
    width: 30px;
    height: 25px;
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

button.inventoryButton > img,
button.modifyButton > img,
button.deleteButton > img
{
    height: 100%;
}

button.addToShoppingCart:hover,
button.inventoryButton:hover,
button.modifyButton:hover,
button.deleteButton:hover
{
    cursor: pointer;
}

button.inventoryButton
{
    background-color: var(--profile-adminInventoryButtonColor);
    border-color: var(--profile-adminInventoryButtonColor);
}

button.modifyButton
{
    background-color: var(--store-modifyItemQuantityButtonColor);
    border-color: var(--store-modifyItemQuantityButtonColor);
}

button.modifyButton.clicked
{
    background-color: var(--store-ActiveButtonColor);
    border-color: var(--store-ActiveButtonColor);
}

button.deleteButton
{
    background-color: var(--store-deleteFromShoppingCartButtonColor);
    border-color: var(--store-deleteFromShoppingCartButtonColor);
}


button.addToShoppingCart:active,
button.inventoryButton:active,
button.modifyButton:active,
button.deleteButton:active
{
    background-color: var(--store-ActiveButtonColor);
    border-color: var(--store-ActiveButtonColor);
}

button.addToShoppingCart
{
    background-color: var(--store-addToShoppingCartButtonColor);
    border-color: var(--store-addToShoppingCartButtonColor);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*#region Administrateurs seulement*/
div.adminButtonsContainer
{
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px;
}

div.addItemContainer
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    border-width: 2px;
    border-style: outset;
    border-color: var(--col-lightGreen);
    padding: 5px;
    user-select: none;
    background-color: var(--col-lightGreen);
}

div.addItemContainer > img
{
    height: 25px;
    transform: rotate(0);
}

div.addItemContainer:hover
{
    cursor: pointer;
}

div.addItemContainer:active
{
    border-style: inset;
    background-color: var(--store-ActiveButtonColor);
    border-color: var(--store-ActiveButtonColor);
}
/*#endregion Administrateurs seulement*/

/*#endregion Magasin*/

/*#region Détails de l'item (Popup)*/
.itemDetailsContainer
{
    display: none;
    position: relative;
}

.itemDetailsContainer.active
{
    display: block;
    width: var(--popup-itemDetailsContainerWidth);
    height: var(--popup-itemDetailsContainerHeight);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--store-itemDetailsContainerHeaderBackgroundColor);
    background-color: var(--store-itemDetailsContainerBackgroundColor);
    z-index: 10;
}

.itemDetailsHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--store-itemDetailsContainerHeaderBackgroundColor);
    font-weight: bold;
    padding: 1px;
    padding-left: 5px;
}


.itemDetailsContainerExitButton
{
    font-size: medium;
}

.itemDetailsContainerExitButton:focus,
.itemDetailsContainerExitButton:active
{
    outline: none;
}

.itemDetailsContainerExitButton:hover
{
    background-color: red;
    color: whitesmoke;
    border-color: red;
}

.itemDetailsImageContainer
{
    text-align: center;
    height: var(--popup-itemDetailsImageContainerHeight);
    background-color: var(--store-itemDetailsImageContainerBackgroundColor);
    border-bottom: 1px solid var(--nav-borderTopCurrentPageColor);
}

.itemDetailsImageContainer > img
{
    height: 100%;
}

.itemDetailsBodyContainer
{
    display: grid;
    grid-template-columns: auto auto;
    max-height: var(--popup-itemDetailsBodyHeight);
    overflow-y: scroll;
}

.itemDetailsBodyContainer::-webkit-scrollbar
{
    display: none;
}

.itemDetailsBodyContainer > span
{
    border-bottom: 1px solid var(--nav-borderTopCurrentPageColor);
    padding: 5px;
}

.itemDetailsBodyContainer > span:nth-of-type(2n + 1)
{
    border-right: 1px solid var(--nav-borderTopCurrentPageColor);
    font-weight: bold;
}

.itemDetailsFooter
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: var(--store-itemDetailsContainerHeaderBackgroundColor);
}

#overlay
{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}
/*#endregion Détails de l'item (Popup)*/

/*#region Évaluation*/
div.itemEvaluationsContainer
{
    display: flex;
}

div.itemEvaluationPreviewContainer
{
    user-select: none;
    margin: 10px 10px 10px 0;
    border: 1px solid var(--col-darkBlue);
}

div.itemEvaluationPreviewContainer:hover
{
    background-color: var(--evaluations-evaluationPreviewContainerHoverColor);
    cursor: pointer;
}

div.evaluationContainer
{
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 5px;
    height: 100%;
}

div.evaluationItemImageContainer
{
    background-color: var(--evaluations-evaluationItemImageContainerBackgroundColor);
}

div.evaluationItemContainer
{
    grid-row-start: span 9000;
    border: 1px solid var(--col-darkBlue);
    background-color: var(--col-darkBlue);
}

.itemStarbarContainer
{
    background-color: var(--col-darkBlue);
    padding: 5px;
    text-align: left;
}

.itemStarbar
{
}

.itemStarbar img
{
    height: 20px;
}

div.playerEvaluationContainer
{
    position: relative;
    grid-column-start: 2;
    min-height: 100px;
    text-align: left;
    padding: 5px;
}

div.playerEvaluationContainer
{
    border: 1px solid var(--col-darkBlue);
}

div.playerEvaluationContainer ~ div.playerEvaluationContainer
{
    border-top: 0;
}

div.playerEvaluationContainer > div:nth-of-type(3)
{
    position: absolute;
    bottom: 5px;
}

div.playerEvaluationContainer img
{
    height: 20px;
}

div.playerEvaluationContainer:last-child
{
    height: 200px;
    padding: 0;
}

div.playerEvaluationContainer div.starBar
{
    padding: 5px;
    height: 25px;
}

div.playerEvaluationContainer form
{
    height: 100%;
    padding: 0;
    margin: 0;
}

div.playerEvaluationContainer textarea
{
    width: 100%;
    height: 165px;
    border-width: 0 0 0 0;
    box-sizing: border-box;
    resize: none;
}

div.playerEvaluationContainer textarea:focus
{
    outline: none;
    border-width: 0;
    background-color: var(--col-lightBlue);
}

div.evaluationsListButtonContainer
{
    text-align: left;
    padding-bottom: 10px;
}
button.evaluationsListButton
{
}

/*#endregion Évaluation*/

/*#region Profil*/
div.playerInfosContainer
{
    display: grid;
    grid-template-columns: 96px 100px 100px 100px 100px 104px;
    width: 100%;
}

div.playerInfosContainer > div.category
{
    background-color: var(--store-categoryTitle);
    font-weight: bold;
}

div.playerInfosContainer > div
{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--nav-borderTopCurrentPageColor);
    text-align: center;
    padding: 5px;
}

div.playerInfosContainer > div:nth-child(n + 9)
{
    border-top: 1px solid var(--nav-borderTopCurrentPageColor);
}

div.adminActionsContainer
{
    position: relative;
}
/*#endregion Profil*/

/*#region Form et Fieldset*/
fieldset, .addItemInfosContainer
{
    position: relative;
    border: 0;
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 5px;
    margin: 0;
    text-align: left;
}

fieldset > div.addItemInfosContainer
{
    grid-column: span 2;
}

fieldset label, fieldset input, fieldset select, fieldset textarea
{
    grid-column: 2 span;
}

fieldset > input[type=submit]:hover
{
    cursor: pointer;
}

fieldset > input[type=submit]
{
    background-color: var(--col-lightBlue);
    border-color: var(--col-lightBlue);
    outline: none;
    grid-column-start: 2;
    height: 25px;
    width: 100px;
}

div.addItemPreviewContainer
{
    text-align: center;
    background-color: var(--store-addItemPreviewContainerBackgroundColor);
    grid-column: 2 span;
}

form input.itemQuantity
{
    max-width: 40px;
    text-align: right;
}

/*#endregion Form et Fieldset*/

/*region Autres*/
.hidden
{
    display: none;
}
/*endregion Autres*/