:root
{
    /*#region Toutes les pages*/
    --col-lightBlue: #b5d9f8;
    --col-ocean: #5f9cd3;
    --col-oceanFog: rgba(95, 156, 211, 0.3);
    --col-sky: #6bb1f3;
    --col-darkBlue: #438edd;
    --col-lightGreen: #9df39d;
    --col-skin: #ffbda3;
    --col-lightRed: #ff6d6d;
    /*#endregion Toutes les pages*/

    /*#region Menu de navigation*/
    --nav-width: 200px;
    --nav-height: 25px;
    --nav-padding: 10px;
    --nav-borderTopCurrentPagePixel: 4px;
    --nav-headerBackgroundColor: var(--col-lightBlue);
    --nav-borderTopCurrentPageColor: var(--col-darkBlue);
    --nav-buttonHoverColor: var(--col-ocean);
    /*#endregion Menu de navigation*/

    /*#region Magasin*/
    --store-categoryTitle: var(--col-sky);
    --store-itemPreviewContainerHoverColor: var(--col-oceanFog);
    --store-itemDetailsContainerBackgroundColor : var(--col-lightBlue);
    --store-itemDetailsContainerExitButtonBackgroundColor: red;
    --store-itemDetailsContainerHeaderBackgroundColor: var(--col-darkBlue);
    --store-itemDetailsImageContainerBackgroundColor: whitesmoke;
    --store-addToShoppingCartButtonColor: var(--col-lightGreen);
    --store-modifyItemQuantityButtonColor: var(--col-skin);
    --store-modifyItemQuantityClickedButtonColor: var(--col-lightGreen);
    --store-deleteFromShoppingCartButtonColor: var(--col-lightRed);
    /*#endregion Magasin*/

    /*#region Popup*/
    --popup-itemDetailsContainerWidth: 500px;
    --popup-itemDetailsContainerHeight: 600px;
    --popup-itemDetailsImageContainerHeight: 300px;
    --popup-itemDetailsHeaderHeight: 30px;
    --popup-itemDetailsBodyHeight: 224px;
    --popup-itemDetailsFooterHeight: 30px;
    /*#endregion Popup*/

    /*#region Évaluations*/
    --evaluations-evaluationPreviewContainerHoverColor: var(--col-oceanFog);
    --evaluations-evaluationItemImageContainerBackgroundColor: var(--col-lightBlue);
    /*#endregion Évaluations*/
}

body
{
    margin: 0;
}

footer
{

}

.indexPage, .profilePage, .loginPage, .modifyPage, .inventoryPage, .shoppingcartPage, .registerPage, .evaluationsPage
{

    width: 600px;
    margin: 40px auto;
    text-align: center;
}

.loginPage, .modifyPage, .registerPage
{
    width: 400px;
}

.indexPage, .inventoryPage, .shoppingcartPage, .evaluationsPage
{
    width: 98%;
}

/*#region Menu de navigation*/
header
{
    position: relative;
}

header::before, nav.mark::before
{
    z-index: 1;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: calc(var(--nav-borderTopCurrentPagePixel) / 2) solid var(--nav-borderTopCurrentPageColor);
}

nav.mark::before
{
    border-bottom: var(--nav-borderTopCurrentPagePixel) solid var(--nav-borderTopCurrentPageColor);
}

nav:hover.mark::before
{
    border-color: transparent;
}

nav
{
    display: flex;
    justify-content: center;
    background-color: var(--nav-headerBackgroundColor);
    user-select: none;
}

nav > nav.chevaleresk
{
    background-color: transparent;
    position: absolute;
    left: 0;
    color: var(--nav-borderTopCurrentPageColor);
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

nav.chevaleresk:hover
{
    background-color: transparent;
}

@media screen and (max-width:1100px)
{
    nav.chevaleresk
    {
        display: none;
    }
}

nav > nav
{
    width: var(--nav-width);
    height: var(--nav-height);
    margin: auto 10px;
    align-items: center;
    position: relative;
    padding: var(--nav-padding);
    cursor: pointer;
}

nav > nav.IconOnly
{
    width: auto;
    background-color: transparent;
}

nav > p
{
    position: absolute;
    width: 100%;
    height: calc(var(--nav-height) + var(--nav-padding) * 2);
    margin: 0;
}

nav > img
{
    position: absolute;
    left: -5px;
    height: 90%;
}

nav.IconOnly > img
{
    position: relative;
    left: 0;
    height: 100%;
}

nav ul
{
    position: absolute;
    width: 100%;
    overflow: auto;
    margin-top: calc(var(--nav-height) + var(--nav-padding) * 2);
    top: 0;
    padding: 0;
    display: none;
    font-size: 125%;
    background-color: #cbd0d1;
}

nav > nav:hover > ul
{
    display: block;
    cursor: pointer;
}

nav > nav:hover, nav ul > li:hover
{
    background-color: var(--nav-buttonHoverColor);
    z-index: 1;
}

nav input[type=checkbox]
{
    width: 20px;
    height: 20px;
}
/*#endregion Menu de navigation*/

/*#region Filtre*/
.filter
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #4f4f4f;
    padding: 5px;
    user-select: none;
    background-color: rgba(0,0,0,0.1);
}

.filter.opened
{
    background-color: rgba(0,0,0,0.15);
}

.filter > img
{
    height: 25px;
    transform: rotate(0);
}

.filter.opened > img
{
    transform: rotate(180deg);
}

.filter:hover
{
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
}

.filterSelect
{
    position: relative;
    display: grid;
    grid-template-columns: auto 20px;
    width: 150px;
    padding: 5px;
    text-align: left;
    align-items: baseline;
    background-color: var(--nav-headerBackgroundColor);
}

.filterSelect.hidden
{
    display: none;
}

.filterSelect label
{
    padding: 5px 0;
}

/*#endregion Filtre*/

/*#region Magasin, Inventaire*/
div.storeContainer
{
    display: grid;
    grid-template-columns: auto 250px 250px 400px;
    align-content: center;
    grid-column-gap: 5px;
}

/*Propre à l'inventaire*/
main.inventoryPage div.storeContainer
{
    display: grid;
    grid-template-columns: auto auto;
}

/*Propre à l'inventaire*/
main.shoppingcartPage div.storeContainer
{
    display: grid;
    grid-template-columns: auto auto auto;
}

div.storeContainer > div.category
{
    background-color: var(--store-categoryTitle);
    font-weight: bold;
}

div.storeContainer > div
{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--nav-borderTopCurrentPageColor);
    text-align: center;
    padding: 5px;
}

/*À ajuster selon le nombre de colonnes du tableau*/
div.storeContainer > div:nth-child(n + 9), /*Propre au magasin*/
main.inventoryPage div.storeContainer > div:nth-child(n + 5), /*Propre à l'inventaire*/
main.shoppingcartPage div.storeContainer > div:nth-child(n + 7) /*Propre au panier d'achat*/
{
    border-top: 1px solid var(--nav-borderTopCurrentPageColor);
}

div.storeContainer > div.rightLastColumn
{
    border-right: 0;
}

.storeContainer button
{
    user-select: none;
}

button.removeItem, button.addItem
{
    display: block;
    margin: 0 10px;
}

button.removeItem.hidden, button.addItem.hidden
{
    display: none;
}

div.storeContainer input.itemQuantity
{
    max-width: 40px;
    text-align: right;
}

div.itemPreviewContainer
{
    user-select: none;
}

div.itemPreviewContainer:hover
{
    background-color: var(--store-itemPreviewContainerHoverColor);
    cursor: pointer;
}

div.shoppingCartColumn
{
    display: flex;
    align-items: center;
    justify-content: center;
}

button.addToShoppingCart, button.modifyItemQuantity, button.deleteFromShoppingCart
{
    width: 75px;
    margin-left: 10px;
    outline: none;
}

button.addToShoppingCart:hover,
button.modifyItemQuantity:hover,
button.deleteFromShoppingCart:hover
{
    cursor: pointer;
}

button.modifyItemQuantity
{
    background-color: var(--store-modifyItemQuantityButtonColor);
    border-color: var(--store-modifyItemQuantityButtonColor);
}

button.deleteFromShoppingCart
{
    background-color: var(--store-deleteFromShoppingCartButtonColor);
    border-color: var(--store-deleteFromShoppingCartButtonColor);
}


button.addToShoppingCart, button.modifyItemQuantity.clicked
{
    background-color: var(--store-addToShoppingCartButtonColor);
    border-color: var(--store-addToShoppingCartButtonColor);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*#endregion Magasin*/

/*#region Détails de l'item (Popup)*/
.itemDetailsContainer
{
    display: none;
    position: relative;
}

.itemDetailsContainer.active
{
    display: block;
    width: var(--popup-itemDetailsContainerWidth);
    height: var(--popup-itemDetailsContainerHeight);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--store-itemDetailsContainerHeaderBackgroundColor);
    background-color: var(--store-itemDetailsContainerBackgroundColor);
    z-index: 10;
}

.itemDetailsHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--store-itemDetailsContainerHeaderBackgroundColor);
    font-weight: bold;
    padding: 1px;
    padding-left: 5px;
}


.itemDetailsContainerExitButton
{
    font-size: medium;
}

.itemDetailsContainerExitButton:focus, .itemDetailsContainerExitButton:active
{
    outline: none;
}

.itemDetailsContainerExitButton:hover
{
    background-color: red;
    color: whitesmoke;
    border-color: red;
}

.itemDetailsImageContainer
{
    text-align: center;
    height: var(--popup-itemDetailsImageContainerHeight);
    background-color: var(--store-itemDetailsImageContainerBackgroundColor);
    border-bottom: 1px solid var(--nav-borderTopCurrentPageColor);
}

.itemDetailsImageContainer > img
{
    height: 100%;
}

.itemDetailsBodyContainer
{
    display: grid;
    grid-template-columns: auto auto;
    max-height: var(--popup-itemDetailsBodyHeight);
    overflow-y: scroll;
}

.itemDetailsBodyContainer::-webkit-scrollbar
{
    display: none;
}

.itemDetailsBodyContainer > span
{
    border-bottom: 1px solid var(--nav-borderTopCurrentPageColor);
    padding: 5px;
}

.itemDetailsBodyContainer > span:nth-of-type(2n + 1)
{
    border-right: 1px solid var(--nav-borderTopCurrentPageColor);
    font-weight: bold;
}

.itemDetailsFooter
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: var(--store-itemDetailsContainerHeaderBackgroundColor);
}

.itemDetailsStarbar
{
    background-color: var(--store-itemDetailsContainerHeaderBackgroundColor);
}

.itemDetailsStarbar img
{
    height: 20px;
}

#overlay
{
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

#overlay.active
{
    opacity: 1;
    pointer-events: all;
    z-index: 9;
}
/*#endregion Détails de l'item (Popup)*/

/*#region Évaluation*/
div.itemEvaluationsContainer
{
    display: flex;
}

div.itemEvaluationPreviewContainer
{
    user-select: none;
    margin: 10px 10px 10px 0;
    border: 1px solid var(--col-darkBlue);
}

div.itemEvaluationPreviewContainer:hover
{
    background-color: var(--evaluations-evaluationPreviewContainerHoverColor);
    cursor: pointer;
}

div.evaluationContainer
{
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 5px;
    height: 100%;
}

div.evaluationItemImageContainer
{
    grid-row-start: span 9000;
    background-color: var(--evaluations-evaluationItemImageContainerBackgroundColor);
    border: 1px solid var(--col-darkBlue);
}

div.playerEvaluationContainer
{
    position: relative;
    grid-column-start: 2;
    min-height: 100px;
    text-align: left;
    padding: 5px;
}

div.playerEvaluationContainer
{
    border: 1px solid var(--col-darkBlue);
}

div.playerEvaluationContainer ~ div.playerEvaluationContainer
{
    border-top: 0;
}

div.playerEvaluationContainer > div:nth-of-type(3)
{
    position: absolute;
    bottom: 5px;
}

div.playerEvaluationContainer img
{
    height: 20px;
}

div.playerEvaluationContainer:last-child
{
    height: 200px;
    padding: 0;
}

div.playerEvaluationContainer div.starBar
{
    padding: 5px;
    height: 25px;
}

div.playerEvaluationContainer form
{
    height: 100%;
    padding: 0;
    margin: 0;
}

div.playerEvaluationContainer textarea
{
    width: 100%;
    height: 165px;
    border-width: 0 0 0 0;
    box-sizing: border-box;
    resize: none;
}

div.playerEvaluationContainer textarea:focus
{
    outline: none;
    border-width: 0;
    background-color: var(--col-lightBlue);
}

div.evaluationsListButtonContainer
{
    text-align: left;
    padding-bottom: 10px;
}
button.evaluationsListButton
{
    /*position: absolute;*/
    /*left: 0;*/
}
/*#endregion Évaluation*/

/*#region Profil*/
.personalInfosContainer
{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.personalInfosContainer > p
{
    padding: 10px;
    margin: 0;
}

/*À voir avec l'équipe ce qui convient le mieux*/
fieldset
{
    position: relative;
    /*width: 80%;*/
    border: 0;
    display: grid;
    grid-template-columns: auto 100px;
    grid-gap: 5px;
    margin: 0;
    /*padding: 20px;*/
    text-align: left;
}

fieldset > label, fieldset input
{
    grid-column: 2 span;
}

fieldset > input[type=submit]:hover
{
    cursor: pointer;
}

fieldset > input[type=submit]
{
    background-color: var(--col-lightBlue);
    border-color: var(--col-lightBlue);
    outline: none;
    grid-column-start: 2;
    height: 25px;
    width: 100px;
}

/*#endregion Profil*/

/*region Autres*/

/*endregion Autres*/